---
import '../styles/global.css';
---


<div class="bg-black">
    <h1 class="text-orange-400 text-9xl">LA PAGINA QUE ESTAS BUSCANDO NO EXISTE (ESTE ES UN PROYECTO DE PRUEBA CON MUCHAS FUNCIONALIDADES SOLO DE DEMOSTRACION)</h1>
</div>