---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---
<Layout>
	<Nav />
</Layout>

<div class="flex flex-col items-center px-4">
	<img src="/public/logobeast.avif" alt="Logo" class="h-40 sm:h-50">
	<h1 class="text-white text-2xl sm:text-4xl font-bold text-center mt-4">FOR GAMERS & ATHLETES</h1>
	<div class="flex flex-wrap justify-center gap-4 mt-6 sm:mt-10">
		<a href="/" class="hover:scale-110 transition-transform duration-300">
			<img src="/public/editada1.avif" alt="Lata 1" class="h-40 sm:h-100 w-full sm:w-auto">
		</a>
		<a href="/" class="hover:scale-110 transition-transform duration-300">
			<img src="/public/editada2.avif" alt="Lata 2" class="h-40 sm:h-100 w-full sm:w-auto">
		</a>
		<a href="/" class="hover:scale-110 transition-transform duration-300">
			<img src="/public/editada3.avif" alt="Lata 3" class="h-40 sm:h-100 w-full sm:w-auto">
		</a>
		<a href="/" class="hover:scale-110 transition-transform duration-300">
			<img src="/public/editada4.avif" alt="Lata 4" class="h-40 sm:h-100 w-full sm:w-auto">
		</a>
	</div>
</div>
