---
import "../styles/global.css";
---
<div id="ABOUTUS" class="flex flex-col justify-center items-center h-screen text-center mt-100 mb-40">
    <h1 class="text-4xl font-extrabold mb-10">SOBRE BEAST MODE</h1>
    <p class="text-xl text-center w-screen sm:w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/4">
        Beast Mode nace en Barcelona con una misión clara: activar tu máximo potencial. Combinamos cafeína de alta calidad con nootrópicos —sustancias que potencian el enfoque y la claridad mental— en bebidas de 500 ml diseñadas para liberar tu lado más salvaje.
Disponibles en cuatro sabores intensos: Papaya Beast, Feral Lemon, Apple Beast y Blueberry Savage, cada lata es una dosis de energía, actitud y rendimiento.
Beast Mode no es solo una bebida, es un estado mental.
    </p>
</div>
