---
import "../styles/global.css";
---
<div id="" class="flex flex-col justify-center items-center h-screen text-center mt-60 mb-40">
    <h1 class="text-4xl font-extrabold mb-10">SOBRE BEAST MODE</h1>
    <p class="text-xl text-center w-screen sm:w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/4">
        <b>BEAST MODE</b> nace  para <b>ACTIVAR TU MÁXIMO POTENCIAL</b>. Con <b>CAFEÍNA PREMIUM</b> y <b>NOOTRÓPICOS</b> para potenciar <b>ENFOQUE</b> y <b>CLARIDAD MENTAL.<br></b><br />
        <b>4 SABORES INTENSOS:<br></b> Papaya Beast, Feral Lemon, Apple Beast y Blueberry Savage.<br />
        <b><br>NO ES SOLO UNA BEBIDA, ES UN ESTADO MENTAL</b>
    </p>
    <p id="PRODUCTS" class="opacity-0">PRODUCTS</p>
</div>
