---
import '../styles/global.css';
---

<footer class="text-white text-center py-3 mt-4 bottom-0 w-full font" style="background: linear-gradient(to bottom, rgba(207,85,15,0)20%, rgba(207,85,15,0.3) 60%, rgba(207,85,15,0.6) 70%, #cf550f 100%);
text-shadow: 0 0 10px #ffffff;
z-index: 999;">
    <div class="container mx-auto"></div>
    <a href="https://thatgamecompany.com/journey/" class="text-white underline" id="oficialjourney">BEASTMODE LICENSE &copy;</a>
    </a>
    <hr class="bg-white mx-auto my-4" style="height: 1px; border: none; width: 80%;">
    <div class="container mx-auto"></div>
    <p>
        <a href="/privacidad.html" class="text-white">Politica de Privacidad</a> |
        <a href="/terminos.html" class="text-white">Terminos y Condiciones</a>
    </p>
</footer>