---
import "../styles/global.css";
---


<section class=" h-screen flex items-center ml-20 text-white mt-70">
    <div class=" z-10">
        <h1 class="text-4xl md:text-6xl font-extrabold mb-5 mt-20">BIENVENIDO  A <br>BEASTMODE</h1>
        <p class="text-lg md:text-xl mb-6 font-bold">LA BEBIDA Nº1 ENTRE ATLETAS</p>
        <a href="#PRODUCTS" class="px-6 py-3 bg-orange-400 hover:bg-orange-700 text-black font-semibold rounded-lg">
            VER PRODUCTOS
        </a>
        <p id="ABOUTUS" class="mt-30 opacity-0">ABOUTUS</p>
    </div>
    <video autoplay muted loop preload="auto" poster="/video-poster.jpg" class="absolute top-0 left-0 w-full h-185 object-cover -z-10 opacity-40 filter grayscale mt-30"
        style="mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
                 -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);">
        <source src="/laidvid.mp4" type="video/mp4">
Tu buscador no soporta el
    </video>
</section>