---
import "../styles/global.css";
---

<nav class="w-full text-[20px] font-extrabold bg-black" style="">
    
    <div class = "mt-4 mb-4 flex ml-7 mr-7 justify-between">
    <a href="/" class="font-bold">
        <img src="/public/beastmodeletters.avif " alt="Logo" class="h-15">
    </a>
    <div class="flex gap-8 mt-4 ">

        <a href="skills" class=" text-orange-400 hover:text-orange-500 hover:underline">PRODUCTS</a>
        <a href="contactes" class="text-orange-400 hover:text-orange-500 hover:underline">BEAST MOMENTS</a>
    </div>
</div>
<hr class="border-orange-400 border-4  mt-4" />
</nav>
